.header img {
    width: 50px;
}

.header {
    border-bottom: 1px solid;
    background-color: #5a7b8e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    text-align: right;
    margin-right: 5px;
}